extends layout.pug

block content
  //This pug template is used to create individual project pages

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{data.project_name}

        p #{data.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in data.technologies
            li #{technology}

        a.btn-link(href=data.live_link, target="_blank") Live Demo
        a.btn-link(href=data.github_link, target="_blank") GitHub Repo

    .project-img-box.box

      img.project-img(src=data.image_urls[1], alt='Snapshot of this website')
      img.project-img(src=data.image_urls[2], alt='Snapshot of this website')
      img.project-img(src=data.image_urls[3], alt='Snapshot of this website')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
